/* common css------------- */
*{
    margin: 0 auto;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}

/* header style------------- */
.header_section{
    background-image: url(images/banner/banner3.png);
    width: 1600px;
    height: 808px;
    text-align: right;
   
}
.text_area{
    padding-right: 230px;
    padding-top: 216px;
}
.header_title{
    font-weight: 700;
    font-size: 65px;
    color: #ffffff;
     
}
.header_dep{
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    padding: 24px 0 32px 0;
     
}
.btn_primary{
    padding: 20px 25px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
}

/* failure style---------- */
.failure_text{
    padding-top: 250px;
    margin-right: 250px;
    
}

.failure_section{
    display: flex;
    gap: 85px;
    margin-top: 130px;
    /* justify-content: space-around; */
}
.fail_title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    
}
.fail_dep{
    font-size: 16px;
    color: #444343;
    padding: 24px 0 16px 0;
    
}
.coantain_item li{
    padding: 8px 0;
    font-size: 16px;
    color: #444343;

}
.man_image{
    margin-left: 206px;
}